<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body>
    {{ content }}
    <footer class="bt b--near-white ptl pbx center mw8">
      <div class="phs phn-ns">
        <h1 class="sans-serif ttu tracked f5">Other Screencasts</h1>
        <ul class="list pln mln">
          {% for post in site.related_posts limit: 5 %}
          <li class="pln pvm">
            <a href="{{ post.url }}" class="db pvs f4 f2-ns sans-serif link " title="{{post.title}}">
              {{ post.title }}
              <span>›</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <p class="">Recorded with ♥ by <a href="http://mrmrs.cc/" class="b teal link" title="Portfolio of Adam Morse">mrmrs</a></p>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55017651-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
